.modal-overlay-admin-change-password {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .password-modal-admin-change-password {
    /* background: white; */
    background: #cfe4f9 !important;
    padding: 1rem 2rem 2rem;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: -30px;
  }
  
  .modal-header-admin-change-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .close-btn-admin-change-password {
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
  }

  .close-btn-admin-change-password:hover{
    /* background: none; */
    border-radius: 20px;
    background: white;
  }
  
  .password-form-admin-change-password .form-group-admin-change-password {
    margin-bottom: 1rem;
    position: relative;
  }
  
  .input-icon-admin-change-password {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
  
  .password-form-admin-change-password input {
    width: 100%;
    padding: 0.7rem 2.2rem;
    border: 1px solid #ddd;
    border-radius: 14px;
    outline: none;
    transition: border 0.3s ease-in-out;
    /* border-radius: 5px; */
  }

  .password-form-admin-change-password input:focus{
    border: 2px solid rgb(0, 221, 255);
    outline: none;

  }
  
  .form-actions-admin-change-password {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .confirm-btn-admin-change-password, .cancel-btn-admin-change-password {
    flex: 1;
    padding: 0.8rem;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .confirm-btn-admin-change-password {
    background: #4CAF50;
    color: white;
  }
  .confirm-btn-admin-change-password:hover {
    background: #008a05;
    /* color: white; */
  }
  
  .confirm-btn-admin-change-password:disabled {
    background: #81C784;
    cursor: not-allowed;
  }
  
  .cancel-btn-admin-change-password {
    background: #d01609;
    color: white;
  }